@model Seed.TriumphSkill.ViewModels.ResetPasswordConfirmModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_AnonLayout.cshtml";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
</hgroup>


<section id="resetPasswordForm">
    @*<h2>Use a local account to log in.</h2>*@
    @using (Html.BeginForm("ResetPasswordConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("Token", Model.Token)

        <h2 class="form-signin-heading">Reset Password</h2>
        <div style="margin-bottom: 8px;">
        @Html.LabelFor(m => m.NewPassword, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
        </div>
        <div style="margin-bottom: 8px;">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 20px;">Reset Password</button>
    
        <p>@Html.ValidationMessageFor(m => m.NewPassword)</p>        
        <p>@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>        
        @Html.ValidationSummary(true)
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

