@using Seed.TriumphSkill
@model Seed.TriumphSkill.Models.SystemSetting

@{
    ViewBag.Title = "Edit System Setting";
}

@using (Html.BeginForm("Edit", "SystemSetting", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 4px;"></span>System Setting</div>
        <div class="panel-body">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.SettingType, new { @class = "col-lg-4 control-label" })

                    <div class="col-lg-8">
                        @Html.EnumDropDownListFor(m => m.SettingType, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SettingType)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-lg-4 control-label" })

                    <div class="col-lg-8">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Value, new { @class = "col-lg-4 control-label" })

                    <div class="col-lg-8">
                        @Html.TextBoxFor(m => m.Value, new { @class = "form-control", @placeholder = "Value" })
                        @Html.ValidationMessageFor(m => m.Value)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Comments, new { @class = "col-lg-4 control-label" })

                    <div class="col-lg-8">
                        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", @placeholder = "Comments" })
                        @Html.ValidationMessageFor(m => m.Comments)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-4">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="reset" class="btn btn-default">Reset Fields</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

}